body {
  background-color: powderblue;
  color: white;
}
#head_div {
  background-color: #00b300;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: none;
}
#main_div {
  background-color: black;
  width: 90%;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: none;
  border-radius: 50px;
}
